*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  
}

body{
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
  url('./images/fundo.png');
  z-index: -1;

}
